.container {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    padding-top: 50px;
}

.logo {
    width: 150px;
    height: 150px;    
    align-self: center;
}

.chatapp{
    color: white;
    font-size: 50px;
    text-align: center;
}

h2 {
    color: white;
    font-size: 25px;
    font-weight: 200;
    text-align: center;
    margin-top: 10px;
}
/*----*/


.formLogin {    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: #F6F5F5;
    position: relative;
    top: 50px;
    height: 80%;
    left: -10%;
    width: 120%;
    border-top-left-radius: 60%;
    border-top-right-radius: 60%;
    padding: 10px;
}

h3{
    font-size: 30px;
    color: var(--main-color);
}
.inputBox {
    position: relative;
    width: 500px;
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
}
.inputBox input{
    width: 100%;
    height: 45px;
    padding: 5px 20px;
    border: 1px solid gray;
    border-radius: 40px;
    outline: none;
    color: #0C1F24;
    font-size: 1em;
    transition: 0.5s;
}

.showPasswordIcon{
    position: absolute;
    right: 5%;
    top: 30%;   
    color: var(--primary-color);
}


.showPasswordIcon:hover {
    color: var(--main-color);
    cursor: pointer;
    }


/*----*/
.forget {
    display: flex;
    justify-content: flex-end;
}

.forget a{    
    color: #1687A7;
    text-decoration: none;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}

.forget a:hover{
    color: #1687a7;
}

.buttonBox{
    text-align: center;
}
button[type="submit"]{
    width: 150px;
    cursor: pointer;
    color: white;
    height: 35px;
    font-size: 20px;
    font-weight: 500;
    background-color: var(--primary-color);
    border-radius: 25px;
    border: 0px;
    margin-top: 20px;
}

button[type="submit"]:hover{
    background-color:var(--main-color) ;
}

/*---*/


.signup{
    color: var(--primary-color);
    border: none;
    font-size: 15px;
    font-weight: 500;
    margin-left: 5px;    
    cursor: pointer;
}
