.Header_container{
    position: absolute;
    top: 0px;
    left: 80px;
    background-color: var(--main-color);
    width: 93vw;
    display: flex;
    justify-content: space-between;
    color: white;
    height: 60px;
    padding: 0px 20px;
    margin-left: auto;
    margin-right: auto;
}

.Header{
    display: flex;
    align-items: center;
    font-size: 15px;
}
.Header_logo_img{
    width: 35px;
    margin-right: 10px;    
}
.Header_logo_icon{
    width: 60px;
    font-size: x-large;
    color: white;
}