@import 'react-datepicker/dist/react-datepicker';

.popup {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.formSignup{
background-color: white;
display: flex;
flex-direction: column;
align-items: center;
padding: 30px;
border-radius: 25px;
width: 30%;
}

.formSignup h2 {
margin-top: 0;
}

.inputBox {
    position: relative;
    margin-top: 10px;
}
.inputBox label {
display: block;
margin-bottom: 10px;
font-size: 15px;
font-weight: 500;
}   

.inputBox input {
    padding: 5px;
    border-radius: 20px;
    border: 2px solid lightgray;
    margin-bottom: 10px;
    width: 300px;
    box-shadow: 0px 0px 1px 0px darkgray;
}
.showPasswordIcon{
    position: absolute;
    right: 5%;
    top: 15%;   
    color: var(--primary-color);
}


.showPasswordIcon:hover {
    color: var(--main-color);
    cursor: pointer;
    }

.signupSubmit{
background-color: #4CAF50;
color: white;
border: none;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin-right: 10px;
cursor: pointer;
border-radius: 20px;
}

.signupSubmit:hover{
background-color: #45a049;
}

.formSignup button[type="submit"] {
padding: 5px;
width: 300px;
border-radius: 20px;
background-color: var(--main-color);
color: white;
border: none;
font-weight: 500;
font-size: 18px;
margin-top: 20px;
cursor: pointer;
}

.formSignup button[type="submit"]:hover{
    background-color: var(--primary-color);
}
/*---------*/
.optionbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}

.optionbox select, .optionbox .datepicker{    
    border-radius: 20px;
    border: 2px solid lightgray;
}
.datepicker, select{
    width: 135px;
    height: 40px;    
    padding: 10px 20px;
}
select{    
    float: right;
}
/*------------*/
.signin{
    color: var(--primary-color);
    border: none;
    font-size: 15px;
    font-weight: 500;
    margin-left: 5px;
    background-color: white;
    cursor: pointer;
}

div.react-datepicker-wrapper{
    background-color: rebeccapurple;
}