.chatapp_container{
    width: 70%;
    height: 90vh;
    position: absolute;
    top: 60px;
    left: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:inherit;
    flex-direction: column;
}

.chatapp_container img {
    width: 200px;
    margin-bottom: 15px;
}

.chatapp_container h1{
    color: var(--main-color);
    font-size: 55px;
}

.chatapp_container h2{
    color: var(--main-color);
    font-size: 25px;
    font-weight: 500;
}

.chatapp_container button{
    text-decoration: underline;
    border: none;
    color: var(--primary-color);
    background-color: transparent;
    font-size: 18px;
    font-weight: 450;
    margin-top: 10px;
    cursor: pointer;
}

.chatapp_container button:hover{
    color: var(--main-color);
}