.container{
    width: 280px;
    height: 82vh;
    position: absolute;
    overflow: hidden;
    background-color: var(--gray-bg);
    display: flex;
    flex-direction: column;
}

.container h1{
    padding: 30px 10px 10px 10px;
    color: var(--main-color);
    font-weight: 500;
    font-size: large;
    background-color: white;
    border-bottom: 1px solid var(--main-color);
}

.list_container{
    width: 280px;
    height: auto;
    overflow: auto;
}


/*----*/
.Friend_container{
    padding: 20px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    background-color: white;
    cursor: pointer;
}
.Friend_container:hover{
    background-color: var(--onclick-bg);
}
.container button {
    text-decoration: underline;
    color: var(--main-color);
    background-color: white;
    font-weight: 500;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.container button:hover{
    color: var(--primary-color);
}


.avatar_wrapper{
    position: relative;
}
.avatar_message{
    width: 45px;
    height: 45px;
    max-width:100%;
    max-height:100%;
    border-radius: 50%;
    margin-right: 10px;
}

.actived_friend{
    width: 13px;
    height: 13px;
    border-radius: 7px;
    position: relative;
    float: right;
    bottom: -34px;
    right: 25px;
    float: right;
    background-color: green;
    border: 2px solid white;
}

.inactived_friend{
    width: 13px;
    height: 13px;
    border-radius: 7px;
    position: relative;
    float: right;
    bottom: -34px;
    right: 25px;
    float: right;
    background-color: darkgray;
    border: 2px solid white;
}
/*Request*/
.requests_content{
    display: flex;
    justify-content: space-between;
    width: 200px;    
}

.button_container{
    width: 55px;
    display: flex;
    justify-content: space-between;
}

.button_container button{
    font-size: x-large;
    background-color: transparent;
}

i[id="accepted"]{
    color: var(--main-color);
}
i[id="denied"]{
    color:crimson;
}

i[id="accepted"]:hover{
    color: var(--primary-color);
}

i[id="denied"]:hover{
    color:firebrick;
}